* {
    margin: 0;
    padding: 0;
    line-height: normal;
}

@font-face {
    font-family: Hanna;
    src: url(../public/fonts/BMHANNAAir_ttf.ttf);
}

html,
body,
#root,
#root > div {
    height: 100%;
}

body {
    padding-top: 50px;
}

#body {
    margin: 0 auto;
    max-width: 1024px;
}

#header-wrap {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid black;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    padding-left: 10rem;
    padding-right: 10rem;
}

#left-header {
    display: flex;
    flex-direction: row;
}

#right-header {
    display: flex;
    flex-direction: row;

    align-items: center;
}

#logo {
    padding-right: 3rem;
    min-width: 230px;
    display: flex;
    font-size: 30px;
    height: 50px;
    align-items: center;
    font-family: Hanna;
}

.nav-menu {
    display: flex;
    margin-right: 3rem;
    font-size: 17px;
    align-items: center;
    cursor: pointer;
    min-width: 68px;
}

.to-login {
    min-width: 68px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 48px;
}

.to-logout {
    display: flex;
    font-size: 17px;
}

#search {
    width: 250px;
}

#footer {
    width: 1024px;
    height: 150px;
    margin: 0 auto;
    border-top: 1px solid #eaebee;
}

#info {
    margin-top: 15px;
    margin-left: 50px;
    color: #868b94;
}

a {
    text-decoration: none;
    color: inherit;
}
