/* #products {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#product-headline {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
}

#products-nav {
    display: flex;
}
#product-nav {
    margin-right: auto;
}

#product-upload {
    margin-left: auto;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.product-card {
    width: 315px;
    height: 330px;
    margin: 12px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 12px;
    overflow: hidden;
}

.product-img-wrapper {
    position: relative;
    width: 100%;
    height: 180px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease; /* 블러 효과를 부드럽게 적용하기 위한 transition */
}

.product-blur::after {
    content: 'SOLD OUT'; /* 텍스트 추가 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none; /* 텍스트 클릭 비활성화 */
    text-align: center;
    z-index: 2; /* 텍스트가 이미지 위에 보이도록 설정 */
}

.product-contents {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.product-name {
    font-size: 16px;
    margin-left: 5px;
}

.product-price {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
}

.product-seller {
    display: flex;
    align-items: center;
}

.product-avatar {
    width: 40px;
    height: 40px;
    font-size: 15px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-date {
    font-size: 12px;
    color: rgb(136, 136, 136);
}
