#image-box {
    margin-top: 30px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-box > img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

#profile-box {
    padding: 16px;
    margin-top: 8px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
}

#profile-box > img {
    width: 50px;
    height: 50px;
}

#profile-box > span {
    font-size: 15px;
    margin-left: 8px;
    font-weight: 600;
}

#contents-box {
    padding: 16px 16px 50px 16px;
    border-bottom: 1px solid black;
}

#name {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 400;
}

#price {
    font-size: 20px;
    font-weight: 600;
}

#description {
    margin-top: 16px;
    font-size: 16px;
}

#createdAt {
    font-size: 12px;
    color: rgb(204, 204, 204);
}

#purchase-button {
    margin-top: 8px;
    margin-bottom: 16px;
}

#question {
    padding: 16px;
}

#question-header > span {
    color: gray;
}

.comment-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 5px;
}

.comment-profile-box {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.comment-profile-box > img {
    width: 30px;
    height: 30px;
}

.comment {
    padding: 5px;
    width: 80%;
    font-size: 16px;
}
.comment-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 31.6px;
}
.comment-date {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.reply-arrow {
    position: relative;
    top: 20px;
    left: -15px;
}

.owner-reply-toggle {
    margin-right: auto;
    margin-bottom: 10px;
}

.reply-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
}
